{{ define "main" }}
<section class="block mt-8 px-8 mb-12">
  <div class="w-full max-w-6xl mx-auto pb-8 prose prose-img:rounded-xl prose-img:max-w-2xl prose-headings:underline">
    <h2 class="font-medium text-4xl text-gray-600">{{ .Title }}{{with .Params.flavor}}<span class="capitalize"> - {{ . }}</span>{{end}}</h2>
    {{ .Content }}
  </div>
  <div class="w-full max-w-6xl mx-auto pb-8 prose prose-img:rounded-xl prose-img:max-w-2xl prose-headings:underline">
    <h2>{{.Title }} Content</h2>
  </div>
  <div aria-label="List of all news posts." class="max-w-full lg:max-w-6xl mx-auto flex flex-wrap justify-between">
    {{ range .Pages }}
    <div class="lg:max-w-xl w-full lg:flex p-4 mx-auto">
      {{ with .Params.preview }}
      <div aria-label="Featured Image" class="h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center border-l border-t border-r rounded-t lg:border-b lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url({{ . | relURL }})">
      </div>
      {{ end }}
      <div class="w-full border-r border-b border-l {{ if not .Params.preview }}border-t lg:rounded-l{{end}} border-grey-light {{ if .Params.preview }}lg:border-l-0 lg:rounded-b-none{{end}} lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-1">
          <p aria-label="Title" class="block text-black font-bold text-xl mb-1"><a href="{{ .RelPermalink }}">{{.Title}}</a></p>
          <p class="text-sm">Posted: {{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
          <p class="text-base mt-4">{{.Description}}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}