{{- define "main" -}}
<article class="mt-8 mx-auto prose prose-slate">
  <h1>
    {{ .Title }}
  </h1>
  {{ .Content }}
  <div class="pt-4">
    This is at the bottom of every post.<br>
    {{ with .Params.flavor }}
    I love to read "{{ $.Title }}" more than I love {{ . }}.
    {{ end }}
  </div>
</article>
{{- end -}}